* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preloader */

/* Core Styles */


body {
  font-family: 'Poppins', sans-serif;
  background: #fcfcfc;
  color: #111111;
  font-size: 1em;
  line-height: 1.5;
  padding-bottom: 10%;
}

.logo {
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  overflow: hidden;
  height: 50vh;
  background-color: #fcfcfc;
    margin: 5%;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .nav-links {
  padding-top: 60px;
}
.nav-links {
  position: fixed;
  z-index: 1;
  justify-content: left;
  width: 100%;
  right: 0px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.7s ease-down;
  top: 0;
}

.nav-links li {
  opacity: 1;
  margin-top: 60px;
}

li {
  padding-left: 20px;
  padding-right: 20px;
}

.QB {
  z-index: 2
  position: fixed;
}

.burger {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle {
  position: fixed;
  z-index: 1;
  right: 5%;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

.showcase {
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 0px;
}


p {
  font-size: 1.5em;
  font-height: 2.8em;
  font-weight: lighter;
}

.projects {
  display: flex;
  padding-left: 10%;
}

.title {
  font-size: 1.1em;
  font-weight: 300;
}

.arrow {
  margin-left: 20px;
  width: 20px;
}

.image {
  width: 100%
}

.cardContent {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1s ease-in-out;
}

.cardContent.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.cardContent:hover {
  position: relative;
  cursor: pointer;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition-duration: .6s;
}


.cardContent {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card-title {
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 40px;
  font-size: 20px;
  line-height: 23px;
  weight: 500px;
}

.lower-title {
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
  line-height: 21px;
  color: #a1a1a1;
}

.content-title {
  font-size: 20px;
  line-height: 45px;
  color: #b4b4b4;
}

.main-footer {
  padding-left: 10%;
  padding-right: 10%;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: left;
}





@media only screen and (min-width: 600px) {
  nav {
    height: 20vh;
  }

  .intro {
    padding-top: 200px;
  }


  p {
    font-size: 34px;
    line-height: 54px;
    margin: auto;
    font-weight: 400;

  }

  .projects {
    margin-top: 20px;
    padding-bottom: 20px;
  }


  .cardContent {
    width: 50%;
    padding-left: 10%;
  }

  .section-a {
    padding-bottom: 20px;
  }


}
