* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preloader */

/* Core Styles */
body {
  font-family: Poppins;
  background: #fcfcfc;
  color: #000;
  font-size: 1em;
  line-height: 1.5;
  margin: 5%;
}

.logo {
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  overflow: hidden;
  height: 60vh;
  background-color: #fcfcfc;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .nav-links {
  padding-top: 60px;
}
.nav-links {
  position: fixed;
  z-index: 1;
  justify-content: left;
  width: 100%;
  right: 0px;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.7s ease-down;
  top: 0;
}

ul {
  padding-top: 50px;
}

.nav-links li {
  opacity: 1;
  margin-top: 60px;
}

li {
  padding: 20px;
}

.QB {
  z-index: 2
  position: fixed;
}

.burger {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle {
  position: fixed;
  z-index: 1;
  right: 5%;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a {
  color: #000;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

#showcase {

  margin-top: 0px;
}

p {
  font-size: 1.5em;
  font-weight: lighter;
}


#section-a {
  display: flex;
  justify-content: flex-start;
  padding-top: 0;
  margin-bottom: 0px;
  height:
}

.projects {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.1em;
  font-weight: lighter;
}

.arrow {
  margin-left: 10px;
  width: 20px;
}

#section-b {
  display: flex;
  justify-content: flex-start;
}

.image {
  width: 100%
}

.cardContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5em;
}

.cardContent {
  opacity: 0;
  transform: translate(0, 30px);
  transition: all 1.9s ease-out;
}

.cardContent.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.cardContent:hover {
  position: relative;
  cursor: pointer;
  transform: scale(1.05);
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}


.card-title {
  padding: 0px;
}

@media only screen and (min-width: 600px) {
  nav {
    height: 20vh;
  }

  .intro {
    padding-top: 200px;
  }

  p {
    font-family: Poppins;
    font-weight: normal;
    background: #fcfcfc;
    color: #000;
    font-size: 1.9em;
    font-family: .5em;
    line-height: 1.5;
    margin: auto;
  }

  .projects {
    margin-top: 20px;
    padding-bottom: 20px;
  }



  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 2;
  }

  .relative {
    position: relative;
    top: 20px;
    left: 20px;
  }

  .card-content {
    margin-right: 1.5em;
  }
}
