* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Preloader */

/* Core Styles
body {

  color: #000;
  font-size: 1em;
  line-height: 1.5;
  width: 100%;
  margin: ;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;


}
/*********************************FONTS*************************************/
html {font-size: 100%;} /*16px*/

body {
  background: #fff;
  font-weight: 400;
  line-height: 1.65;
  color: #111111;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5, h6, .info, .copy, .coloredText {
  /*margin: 2.75rem 0 1.05rem;*/
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.3em;
  line-height: 3.417em;
  color: #b4b4b4;
}

h3 {
  font-size: 1.5em;
  line-height: 1.8em;
  font-weight: 700;
  padding-top: 10%;
}

h4 {
  font-size: 1em;
  line-height: 1.8em;
  font-weight: 400;
  color: #a1a1a1;

}

h5 {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
}

.team {
  font-size: 1.7em;
  color: #b4b4b4;
  padding-top: 0px;
}

/*********************************FONTS*************************************/


.word {
  text-decoration: none;
}
.landing-color {
  background: #E3E8F1;
}
/* Nav Styles*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: auto;
  overflow: hidden;

  background-color: #E3E8F1;
  padding-top: 1%;
  text-shadow: 10px;
}

.nav-links {
  position: fixed;
  z-index: 1;
  justify-content: left;
  width: 100%;
  right: 0px;
  height: 30vh;
  background-color: #E3E8F1;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateX(100%);
  transition: transform 0.7s ease-down;
  top: 0;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .nav-links {
  padding-top: 60px;
}

nav ul {
  padding-top: 50px;
}

.nav-links li {
  opacity: 1;
  margin-top: 60px;
}

nav li {
  padding: 20px;
}

.QB {
  z-index: 2
  position: fixed;
}

.burger {
  display: block;
}

.nav-active {
  transform: translateX(0%);
}

@@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);

  }
}

.toggle {
  position: fixed;
  z-index: 1;
  right: 5%;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.nav-links a {
  color: #E3E8F1;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  transition: all 0.3s ease;
}

ul {
  list-style-type: none;
}


/*-------------------------------------Landing Page-------------------------------------------------*/

.landing-container {
  height: 70vh;
}


.landing-display {
  background-color: #E3E8F1;
  text-align: center;
}

.landing {
  height: 62vh;
}

.landing-page {
  width: 100%;
  margin-bottom: 5%;
}

.display-text {
  padding-top: 30%;
  height: 50vh;
  width: 100%;
}

#cursive-large {
  font-size: 36px;
  font-family: 'Permanent Marker', cursive;
  padding-top: 250px;
  color: #000;
}

.evidence-container {

}

/* Intro Style */
.section {
  padding-right: 10%;
  padding-left: 10%;
}

.main-title {
  text-align: center;
  padding-top: 15vh;
}

.main-title2 {
  text-align: center;
  padding-top: 10%;
}



/*-----------------------Classroom at a glance-------------------------------*/
.overview {
  padding-bottom: 100px;

}

.evidence1 {
  /*padding-bottom: 20px;*/
}

.coloredText {
    font-size: 22px;
    line-height: 26px;
    color: #DD9948;
    padding-top: 20px;
    font-weight: bold;
    padding-bottom: 2%;
}

#solution-text {
  padding: 0px 20px;
}

.info {

  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-bottom: 2%;
}

.copy {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.role {
  padding-right: 10%;
  padding-left: 10%;
  padding: 10%;
}
.teamwork {
  padding-top: 10%;
}
.work-role {
  padding: 10px 10%;
}

.team {
  padding-bottom: 1px;
}
.specifics {
  padding-bottom: 20px;
}

.role-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
  padding-right: 10%;
}

.role-menu {

  display: flex;
  justify-content: space-around;
}

.dashboard-view {
  width: 100%;
  padding-top: 30px;
}

.evidence-container {
  justify-content: center;
  display: flex;
  padding-bottom: 80px;

}

.evidence-box {

  width: 250px;
  height: 50px;
  text-align: center;
  font-size: 12px;
  margin: auto;
}

.evidence-link {
  padding: 10px;
  margin: 20px;
  background-color: #E3E8F1;
  border: 1px solid #A7C6DA;
}



.evidence1 {
  padding-top: 2px;
  padding-left: 10%;
  padding-right: 10%;
}


.bullet  {
  list-style-position: outside;
}

#question {
  list-style-position: outside;
  list-style-type: square;
  padding-left: 10%;

}


a {
  text-decoration: none;
}


.image {
  width: 100%;
}


/* IDEA: Competitive Analysis */
.structure {

}

.analysisOfCompetitors .title {
  font-size: 20px;
  padding-left: 10%;
}

.competitors {
  display: flex;
  justify-content: center;
}

.competitors ul {
  display: flex;
  justify-content: space-between;

}

.competitor-photo {
  width: 100%;
}

.competitor-photo 2 {
  padding-left: 20px;
}

.questions {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}


/* IDEA: Takeaways */


#card {
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;

}

.section-introduction {
  /*padding-top: 10%;*/
  padding: 5% 2%;

  background-color: #FFFFE8;
  border-left: 10px solid #DD9948;
}

.roles {
  padding-left: 10%;
  padding-right: 10%;
}
/*
.boxed-paragraph {
  background-color: #E3E8F1;
  padding: 4%;
  display: flex;
  justify-content: center;
  border-left: 15px solid #A7C6DA;
}
*/
.highlights {
  width:
  padding-left: px;
  display: flex;
  justify-content: space-around;
}

.questions {
  /*padding-top: 30px;
  margin-left: 10%;*/
}

.statement {
  /*padding-top: 40px;*/
}
.highlight-item {
  width: 100px;
}



.oversize {
  color: #111111;
  font-size: 40px;
  line-height: 43px;
  font-weight: 700;
}

/* Personas */
.cursive {
  padding-top: 80px;
}

.quotemarks {
  font-size: 40px;
}
.supersize {
  font-size: 36px;
  line-height: 38px;
}

.cardContent {
  opacity: 0;
  transform: translate(0, 20px);
  transition: all 1.2s ease-in;
}

.cardContent.visible {
  opacity: 1;
  transform: translate(0, 0);
}
/*==========================================================*/

.solo {
height: 10px;
}

/*.solo {
  font-size: 14px;
  height: 10px;
  padding-top: 20px;
}*/



/*  Introduction Style */

.container1 {
  width: 100%;
}


/*  Summary */

.part {
  /*padding-top: 20px;*/
}

.process {
  padding-top:
  width: 100%;
}

.one {
  text-align: center;
}

.research {
  height: 40vh;
  /*padding-left: 10%;
  padding-right: 10%;*/
}

/* IDEA: Process */
.research {
  height: 40vh;
}

/* IDEA: Survey highlights */
.three {
  padding-top: 3px;
}

.two {

}

/***********************Side Nav*****************************************/


/**********************side nav*****************************************/
.highlight {
  font-size: 14px;
}

.highlight{
  position: relative;

    width: max-content;
    background-size: 200% auto;
    background-image: linear-gradient(to right,#fff 50%,#ff0 50%);
    background-position: 0% 0;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
.highlight.active{
   animation-name: highlight;
}

@keyframes highlight {
    from {background-position: 0% 0;}
    to {background-position: -100% 0;}
}


/* IDEA: Survey analysis */


.survey-analysis {
  /*padding-top: 0px;
  margin-top: 0px;*/
}


/*------------------Personas-------------------------------------------------*/


.problems {
  /*padding-top: 5vh;*/
}

/* IDEA: User Flows */

.chapter-hero {
  width: 100%;
  /*padding: 20px 10px 0px 10px;*/
  padding-top: 10%;
  padding-bottom: 10%;

}


.userflow-view {
  width: 100%;
  /*padding: 20px 10px 0px 10px;
  padding-top: 10%;
  padding-bottom: 10%;*/
  padding: 2%;
}


.image {
  padding-top: 10%;
}


/* IDEA: Sketches */
.sketches {
  /*margin-top: 10vh;*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.sketches-image {
  width: 100%;
  padding-top: 20px;
  margin-bottom: 0px;
}


/*-------------------Quote Style------------------------------*/
.quotemarks {
  font-family: 'Permanent Marker', cursive;
  font-size: 78px;
  color: #217AF0;
}

.supersize {
  font-family: 'Permanent Marker', cursive;
  padding-top: 40px;
  padding-left: 20px;
  font-size: 26px;
}

.ending {
  padding-top: 80px;
}

.remarks {
  padding-bottom: 0px;
}

/*--------------Photo Stills--------------------------------------------*/

.stills {

}

.still-image {
  width: 95%;
  padding-top: 10px;
}

.sketches {
  background-color: #A7C6DA;
  padding-top: 20%;
}

.ofSketches {
  padding-top: 20px;
}

.tester {
  padding-left: 80px;
}


.notes {
  display: flex;
  justify-content: center;
}

#wireframeInfo {
  padding-top: 10px;
}

.logo {
  width: 80%;
}


.subheading {
  padding-bottom: 0px;
}

.text {
  padding-top: 10%;
  padding-bottom: 10%;
}

.field {
  padding-top: 10%;
  padding-bottom: 10%;
}

.paragraph {
  padding-top: 10%;
}

/* IDEA: Responsive Screens************************************************/

@media only screen and (min-width: 600px) {
  nav {
    height: 20vh;
  }


  h4 {
    font-size: 1.2em;
    line-height: 1.8em;
    font-weight: 400;
    color: #a1a1a1;

  }
  .display-text {
    padding-top: 30%;
    text-align: center;
    height: 100vh;
    background-color: #E3E8F1;
    width: 100%;
  }

  .section {
    padding-right: 25%;
    padding-left: 25%;
  }

  .roles {
    padding-left: 25%;
    padding-right: 25%;
  }
  /* Solutions
  .solutions-container {
    display: flex;
    justify-content: center;
  }

  .chapter {
    display: flex;
    justify-content: flex-start;
  }

  .solution {
    width: 300px;
  }

  .team {
    width: 250px;
    padding-left: px;
  }

*/


.landing-container {
  height: 100vh;
}

.landing-display {
  background-color: #E3E8F1;
  text-align: center;
}


.landing {
  height: 110vh;
}


.landing-page {
  width: 75%;
  margin-bottom: 5%;
}

.display-text {
  height: 20vh;
}

#cursive-large {
  font-size: 64px;
}

.main-title {
  padding-top: 30vh;
}



.summary {
  padding-bottom: 20px;
}

/* IDEA: Roles */
.teamwork {
  padding: 10px 25%;
}


.team {
  padding-bottom: 1px;
}

.containerForSolution {
  padding: 5%;
  padding-left: 0;
  display: flex;
  justify-content: center;
}

.evidence1 {
  display:flex;
  justify-content: center;
  align-items: flex-start;
  width: 70%;
}

.dashboard-view {
  width: 100%;
}

.overview {
  padding-bottom: 50px;
}


#solution-text {

  padding-left: 40px;
  width: 400px;
}

.text1 {
  padding-top: 20px;
}


#card {
  padding: %;
  padding-left: 25%;
  padding-right: 25%;
}

.evidence1 {
  margin-left: 30vh;
  padding: 0px;
}

.forResearch {
  padding-top: 20px;
  padding-bottom: 0px;
}
/*
.subheading {
  padding-top: 20vh;
}*/

.stories {
  padding-top: 0;
}







  /* Introduction Styles */
  .container1 {
    display: flex;
    justify-content: center;
  }
/*
  .section-introduction {
    display: flex;
    justify-content: space-between;
  }

  .problem {
    width: 45%;
  }

  .solution {
    width: 45%;
    margin-left: 40px;
  }

  /* IDEA: Process */

  .container {
    display: flex;
    justify-content: center;
  }

  .research {
    display: flex;
    justify-content: space-between;
  }

  .survey {
    margin-left: 50px;
    padding-top: 10px;
  }

  .thoughts {
    height: 10vh;
  }


/* IDEA: Survey highlights */
.three {
  padding-bottom: 0px;
  padding-top: 3px;
}
/*
.container2 {
  padding-top: 20px;
  justify-content: center;
  display: flex;
}
*/
.highlights {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.highlight-item {
  text-align: left;
  width: 200px;
}

.highlight-item h1 {
  margin-bottom: 0px;
}

.highlight-item h3 {
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.competitor-photo {
  width: 100%;
  padding-top: 5vh;
  padding-left: 5vh;
}

.flow-container {

}

.supersize {
  padding-left: 20px;
}

.ending {
  padding-top: 40px;
}

.stills {
  padding-left: 25px;
}
.still-image {
  width: 98%;
}

.chapter-hero {
  width: 100%;
  height: auto;
  min-height: 34rem;
}


/*
h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
  line-height: 3.417em;
  color: #b4b4b4;
}

h3 {
  font-size: 1.5em;
  line-height: 4em;
  font-weight: 700;
}

h4 {
  font-size: 1.125em;
  line-height: 3em;
  font-weight: 400;
  color: #a1a1a1;
}

h5 {
  font-size: 1.125em;
  line-height: 2.25em;
  font-weight: 400;
}

h6 {
  font-size: 1em;
  line-height: 1.5em;
}
*/
}
